/* Footer.css */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    bottom: 0;
    position: fixed;
    width: 100%;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-links a {
    align-items: center;
    justify-content: center ;
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
  }
  
  .footer-social a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;

    align-items: center;
  }
  
  .footer-social{
    flex-direction: row;
    justify-content: center;
    display: flex;
  }
  .footer-bottom {
    text-align: center;
    margin-top: 10px;
    font-size: 0.8rem;
  }
  