.c{
    font-family: sans-serif;
}

.card{
    background: linear-gradient(to bottom, 
                #3dcee8 0%,
                #3dcee8 26%,
                #ecedef 26%, 
                #c4c0c2 100%);
    height: 14em;
    float: left;
position: relative;
}

.card-left{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width:16em;

}

.card-right{
    width:6.5em;
    border-left: 0.18em dashed #fff;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.card-right:before,
.card-right:after{
    content: "";
    position: absolute;
    display: block;
    width: 0.9em;
    height: 0.9em;
    background: #fff;
    border-radius: 50%;
    left:-0.5em;
}

.card-right::after{
    bottom:-0.4em
}

.card-right::before{
    top:-0.4em;
}


h1{
    font-size: 1.1em;
    margin-top: 0;
}

h1 span{
    font-weight: normal;

}

.title,
.name,
.seat,
.time{
    text-transform: uppercase;
    font-weight: normal;
}


.title h2,
.name h2,
.seat h2,
.time h2{
    font-size: 0.9em;
    margin: 0;
    color:#525252;
}


.title span,
.name span,
.seat span,
.time span{
    font-size: 0.9em;
    margin: 0;
    color:#a2aeae;
}

.title{
    margin:2em 0 0 0;
}

.name,
.seat{
    margin: 0.7em 0 0 0;
}



.time{
    margin: 0.7em 0 0 1em;
}

.seat,
.time{
    float: left;
}

.eye{
    position: relative;
    width: 2em;
    height: 1.5em;
    background: #fff;
    border-radius: 1em/0.6em;
    margin: 0 auto;
   z-index: 1;
}

.eye:before,
.eye:after{
    content: "";
    position: absolute;
    display: block;
    border-radius: 50%;
  
}

.eye:before{
    width: 1em;
    height: 0.5em;
    background: #3dcee8;
   height: 1em;
   z-index: 2;
   left: 8px;
    top: 4px;
}

.eye:after{
    width: 0.5em;
    height: 0.5em;
    background: #fff;
    z-index: 3;
    left: 12px;
    top: 8px;
}
.number{
    text-align: center;
    text-transform: uppercase;
}

.number h3{
    font-size: 2.5em;
    margin: 0.9em 0 0 0;
    color:#3dcee8;
}

.number span{
   display: block;
   color:a2aeae;
}