@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .float-animation {
    animation: float 2s infinite;
  }
